body {
  background-color: lightgray;
  text-align: center;
  color: blue;
  font-family: Georgia "Times New Roman", serif;
}

.wrapper {
  width: auto;
  margin: 0px auto;
}

.wrapper2 {
  width: auto;
  margin: 0px auto;
}

entry {
  width: auto;
  float: left;
  margin: 10px;
  height: auto;
  float: left;
}

figure {
  display: block;
  width: auto;
  height: auto;
  background-color: lightblue;
  margin: 0px;
  padding: 9px;
  float: left;
}

figure2 {
  display: block;
  width: auto;
  height: auto;
  background-color: lightblue;
  margin: 0px;
  padding: 9px;
  float: left;
}

figure img:hover {
  border: 1px solid black;
}

figure img {
  float: left;
  width: 200px;
  height: 280px;
  border: 1px solid blue;
}

figure2 img {
  float: left;
  width: 200px;
  height: 230px;
  border: 1px solid blue;
}

figcaption {
  padding-left: 20px;
  text-align: center;
}

footer {
  clear: both;
}